@page "/"


<html>
    <body>
        <style>
        h1{text-align:center;}
        button.home{ background-color:burlywood; }
        button.home{position:inherit}
        body{
            background-image: url('Shop4.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;

        }
        </style>
        



    
    <div class="w3-panel w3-blue">
    <h1 class="w3-text-orange" style="text-shadow:1px 1px 0 #0bded6">
    <b>Welcome To The My Sport Shoes Shop</b></h1>
    </div>

    <a href="/fetchdata"><button class="btn btn-secondary btn-lg btn-block">Go To The Sport Shoes</button></a>


<br>
    </body>
</html>

<a href="/AddCloth"><button type="button" class="btn btn-primary btn-lg">Add Cloth</button></a>
<a href="/Delete"><button type="button" class="btn btn-secondary btn-lg">Delete Cloth</button></a>


