@page "/taed"

<head>
    <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">successfuly !</h4>
    <p>We Hope You Enjoy The Purchase At Our Shop</p>
    <hr>
    <p class="mb-0">We Will Be Happy To See You Later.</p>
    </div>
    <style>
        body{
            background-image: url("Tick2.jpg");
            background-repeat: no-repeat;
            background-position : center;
            background-size: 300px 300px;
            background-attachment: fixed;
            
        }
    </style>  

</head> 